@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --Header-color: #ffffff;
    --Input-color: #f4f6f8;
    --body-color: #ffffff;
  }

  .dark {
    --Header-color: #0f1117;
    --Input-color: #13161c;

    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
  }
}
@layer utilities {
  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }
  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }
  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }
  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }
  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }
  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }
  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }
  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }
  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }
  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }
  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }
  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }
  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }
  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }
  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }
  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }
  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }
  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }
  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }
}
.container_box_shadow {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 10px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}
